<!-- <!-- 
<!-- Register Form -->
<!-- <section class="popupBody">
    <div class="user_register">
        <form>
            <label>Nom complet</label>
            <input type="text" />
            <br />

            <label>Addresse Email</label>
            <input type="email" />
            <br />

            <label>Mot de passe</label>
            <input type="password" />
            <br />

            <div class="checkbox">
                <input id="send_updates" type="checkbox" />
                <label for="send_updates">Envoyez moi des emails de mises à jour</label>
            </div>

            <div class="action_btns">
                <div class="one_half"><a href="#" class="btn back_btn"><i class="fa fa-angle-double-left"></i> Retour</a></div>
                <div class="one_half last"><a href="#" class="btn btn_red">S'inscrire</a></div>
            </div>
        </form>
    </div>
    </section>
    </div> -->
<!-- </section>  --> -->